/* .popup-link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}
.popup-link:hover {
    text-decoration: underline;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.popup-content {
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}
.popup-content h2 {
    margin-top: 0;
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
} */




.tooltip {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.tooltip:hover {
    text-decoration: underline;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    color: rgb(27, 25, 25);
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    white-space: pre-wrap;
    width: 600px;
    max-width: 90vw;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    pointer-events: none;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
    top: -100%;
}