{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .chat-container {
            height: 100vh;
            display: flex;
        }
        .chat-sidebar {
            background-color: #f8f9fa;
            width: 25%;
            border-right: 1px solid #ddd;
            overflow-y: auto;
        }
        .chat-main {
            width: 75%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .chat-header {
            padding: 1rem;
            background-color: #343a40;
            color: #fff;
        }
        .chat-messages {
            flex-grow: 1;
            padding: 1rem;
            overflow-y: auto;
            background-color: #e9ecef;
        }
        .message {
            margin-bottom: 1rem;
        }
        .message .user-name {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        .message .text {
            padding: 0.5rem;
            background-color: #fff;
            border-radius: 10px;
            display: inline-block;
        }
        .chat-input {
            padding: 1rem;
            border-top: 1px solid #ddd;
        }
        .list-group{
            list-style: none;
        }
        .chat-message{
            border: none;
            z-index: 100;
        }
        .chat-message:hover{
            background-color: #a1a9ac;
        }
        .unread{
            background-color: #a1a9ac;
        }
    
    </style>
</head>
<body>

<div class="container-fluid chat-container">
    <!-- Sidebar -->
    <div class="chat-sidebar p-3">
        <h4>Chat Clients</h4>
        <ul class="list-group" id="chat-list">
            {% for chat in chats %}
                
                {% if chat.client.name %}
                    <li class="chat-list">
                        <a class="chat-message list-group-item {% if not chat.messages.last.is_seen %}unread{% endif %}" href="{% url "chat" chat.chat_id %}" data-is_read="{{chat.messages.last.is_seen}}">
                            {{chat.client.name}}
                            <p>{{chat.messages.last.message|truncatewords:5}}</p>
                            <p>{{chat.messages.last.timestamp|naturaltime}}</p>
                        
                        </a>
                        
                    </li>
                {% else %}

                <li class="chat-list">
                    <a class="chat-message list-group-item" href="{% url "chat" chat.chat_id %}"  data-is_read="{{chat.messages.last.is_seen}}">
                        {{chat.client.name}}
                        <p>{{chat.messages.last.message|truncatewords:5}}</p>
                        <p>{{chat.messages.last.timestamp|naturaltime}}</p>
                    </a>
                </li>
                {% endif %}
                    
            {% endfor %}
            <!-- Add more users -->
        </ul>
    </div>

    <!-- Main Chat Area -->
    <div class="chat-main">
        {% if chat %}
            <!-- Chat Header -->
            <div class="chat-header">
                <h5>{{chat.client.email}}</h5>
            </div>

            <!-- Chat Messages -->
            
            
                <div class="chat-messages" id="chat-messages">
                    <!-- Message from another user -->
                    {% for message in messages %}
                        <div class="message {% if request.user.employee.full_name == message.creator_name %}text-end{% endif %}">
                            <div class="user-name">{{message.creator_name|default_if_none:"client"}}</div>
                            <div class="text bg-light">{{message.message}}</div>
                            {% now "SHORT_DATETIME_FORMAT" as timestamp %}
                            <div class="user-name">{{message.timestamp|naturaltime}}</div>
                        </div>
                    {% endfor %}
                    
                    <!-- Message from self -->
                    <!-- <div class="message text-end">
                        <div class="user-name">You</div>
                        <div class="text bg-primary text-white">I am good, thank you!</div>
                    </div> -->
                    <!-- Add more messages -->
                </div>
            
                

            <!-- Input Field -->
            <div class="chat-input" id="chat-form">
                <form class="d-flex">
                    <input type="text" class="form-control me-2" placeholder="Type a message..." id="message-input">
                    <button class="btn btn-primary" type="submit" id="chat-message-input">Send</button>
                </form>
            </div>
            {{ chat.chat_id|json_script:"chat_id" }}
        {% endif %}
    </div>
</div>



<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


    
    {% if chat %}
        <script>
            const WebSocketProtocal = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
            const WebSocketBaseUrl = WebSocketProtocal + window.location.host;

        function showNotification(title, message, chatUrl) {
            if (Notification.permission === "granted") {
                const options = {
                    body: message,
                    // icon: "/path/to/icon.png",  // Optionally add an icon
                    // badge: "/path/to/badge.png", // Optionally add a badge icon
                    tag: chatUrl,  // A tag allows you to group notifications
                };

                const notification = new Notification(title, options);

                // Handle notification click
                notification.onclick = function() {
                    window.focus();
                    window.open(chatUrl);
                };
            }
        }
            
            // WebSocket connection
            const chatId = JSON.parse(document.getElementById('chat_id').textContent);
            const chatSocket = new WebSocket(`${WebSocketBaseUrl}/ws/chat/${chatId}/`);

            const getNewChatSocket = new WebSocket(`${WebSocketBaseUrl}/ws/new-chat/`);

            getNewChatSocket.onopen = function(e) {
                console.log("new connected....", e)
            }

            getNewChatSocket.onmessage = function(e) {
                console.log("on message", e.data)
                const data = JSON.parse(e.data);
                const chatList = document.getElementById("chat-list");
                
                
                const action = data.type
                if(action == "new_chat"){
                    const chatElement = `
                        <li class="chat-list">
                            <a class="chat-message list-group-item unread" href="/chat/${data.chat_id}/">
                                ${data.client}
                                <p>${data.message}</p>
                                <p>${timeSince(data.timestamp)}</p>
                            
                            </a>
                            
                        </li>
                    `
                    
                    chatList.insertAdjacentHTML('afterbegin', chatElement);
                }else if(action == "new_message"){
                    const chatId = data.chat_id;
                    const chatElement = document.querySelector(`a[href="/chat/${chatId}/"]`).parentElement;
                    chatElement.querySelector("p:nth-of-type(1)").textContent = data.message;
                    chatElement.querySelector("p:nth-of-type(2)").textContent = timeSince(data.timestamp);

                    // Move the chat to the top of the list
                    document.querySelector(`a[href="/chat/${chatId}/"]`).classList.add("unread");
                    chatList.prepend(chatElement);
                    showNotification("New Message", data.message, `/chat/${chatId}/`);
                }
            }

            getNewChatSocket.onclose = function(e) {
                console.log('Chat socket closed unexpectedly');
            }

            getNewChatSocket.onerror = function(e) {
                console.error('WebSocket error:', e);
            }


            // const chatList = document.querySelectorAll(".chat-message")
            // chatList.forEach(element => {
            //     element.addEventListener('click', (e) =>{
    
            //         e.preventDefault()
            //         console.log(e.currentTarget, e.currentTarget.href)
            //         is_read = e.currentTarget.dataset.is_read
            //         if(is_read == "False"){
            //             chatSocket.send(JSON.stringify({
            //                 'type': 'message_seen',
            //             }))
            //         }
            //         e.currentTarget.classList.remove("unread")
            //         window.location.href = e.currentTarget.href;
                 
            //     })
            // });

            // convert date to human readable
            function timeSince(dateString) {
                const date = new Date(dateString);
                const now = new Date();
                const seconds = Math.floor((now - date) / 1000);

                let interval = Math.floor(seconds / 31536000); // 1 year
                if (interval >= 1) return interval === 1 ? "1 year" : `${interval} years`;

                interval = Math.floor(seconds / 2592000); // 1 month
                if (interval >= 1) return interval === 1 ? "1 month" : `${interval} months`;

                interval = Math.floor(seconds / 86400); // 1 day
                if (interval >= 1) return interval === 1 ? "1 day" : `${interval} days`;

                interval = Math.floor(seconds / 3600); // 1 hour
                if (interval >= 1) return interval === 1 ? "1 hour" : `${interval} hours`;

                interval = Math.floor(seconds / 60); // 1 minute
                if (interval >= 1) return interval === 1 ? "1 minute" : `${interval} minutes`;

                return 'Now';
            }
        
            // Event listener for receiving messages
            chatSocket.onmessage = function(e) {
                console.log("on message", e.data)
                const data = JSON.parse(e.data);
                const chatMessages = document.getElementById('chat-messages');
                let username = data.agent? data.agent : 'client';
                console.log(data)
                let cl = data.agent? ' text-end' : '';
                // const date = new Date(data.timestamp);
                // let timestamp = date.getHours() + ':' + date.getMinutes()
                // console.log("timestamp", d)
                
                
                const newMessage = `
                    <div class="message${cl}">
                        <div class="user-name">${username}</div>
                        <div class="text bg-light">${data.message}</div>
                        <div class="">${timeSince(data.timestamp)}</div>
                    </div>
                `;
                
                chatMessages.innerHTML += newMessage;
                chatMessages.scrollTop = chatMessages.scrollHeight;  // Auto-scroll to the latest message
            };
        
            // Handle errors
            chatSocket.onerror = function(e) {
                console.error('WebSocket error:', e);
            };
            chatSocket.onopen = function(e){
                console.log("connected....", e)
            }
        
            // Send message when the form is submitted
            const chatForm = document.getElementById('chat-form');
            chatForm.onsubmit = function(e) {
                e.preventDefault();
                console.log("submit")
                const messageInput = document.getElementById('message-input');
                const message = messageInput.value;
        
                // Send the message through WebSocket
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': 'You',  // Replace with actual username from your app
                    'type': 'chat_message'
                }));
        
                // Clear the input field
                messageInput.value = '';
            };
            
        </script>
    {% endif %}
        


</body>
</html>
