<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Author Thank You</title>
    <style>
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff !important;
            text-decoration: none;
            border-radius: 5px;
            width: 200px;
            text-align: center;
            font-weight: bold !important;
        }
    </style>
</head>

<body>
    <br>
    <h3>Dear {{ employee.full_name | title }},</h3>

    <p>Great news! Your blog has been approved and is now live on our system. As a reward for your insightful writing, you've earned a 15-hour project bonus! 🏆</p>

    <p>To see your bonus details, just log into the HR system.</p>

    <p>And hey, don’t miss out—check out your published blog here:</p>
    <a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="btn">Blog Link</a>
    <p>Keep up the fantastic work and keep sharing your awesome ideas!</p>
    <br>
    <div class="closing">
        <p>Regards,</p>
        <p>The Mediusware Team</p>
    </div>
</body>

</html>