<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    {% load humanize_extra %}


    <br>
    <h3>Dear {{ employee.full_name | title }},</h3>
    <p>Thanks for your write in Blog section. We have reviewed the blog and found some issues to improve. Please check
        our feedback below:</p>
    <br>
    <p>Blog Link: {{ url }}</p>
    <br>
    <strong>Feedback: </strong>{{content|safe}}
    <br><br>
    <div class="closing">
        <p>Regards,</p>
        <p>Moderator & Admin</p>
        <p>Mediusware Ltd</p>
    </div>
</body>

</html>