{% extends 'letters/extra/base.html' %}
{% load employee_helper %}
{% load humanize %}
{% load humanize_extra %}
{% load employee_helper %}

{% block content %}
    {% for employee in employees %}
        {% for employeesalary in employee.employeesalary_set.all %}
        <div class="employee-details" style="page-break-after: always;">
            <p>Ref: Mediusware Ltd./{{ latter_type }}/{{ employee.joining_date | date:'Ym' }}{{ employee.designation.id }}{{ employee.id }}
                <br>
                Date: {% now "jS F Y" %} <br>
                <b>{{ employee.full_name | title }}</b><br>
                Email: {{ employee.email }}<br>
            </p>
            <center><h2>To Whom It May Concern</h2></center>
            <p>
                This is to certify that <b>{{ employee.full_name | title }}</b> has been working as a regular employee in
                our organization. His/Her employment details are as follows:
            </p>

            <table width="60%" cellpadding="2">
                <tbody>
                <tr>
                    <td>Job Status</td>
                    <td>: {% if employee.permanent_date %}Permanent {% else %}Provisional {% endif %}</td>
                </tr>
                <tr>
                    <td>Designation</td>
                    <td>: {{ employee.designation }}</td>
                </tr>
                <tr>
                    <td>Date of Joining</td>
                    <td>: {{ employee.joining_date }}</td>
                </tr>
                <tr>
                    <td>Employee ID</td>
                    <td>: {{ employee.joining_date | date:"Ym" }}{{ employee.designation.id }}{{ employee.id }}</td>
                </tr>
                <tr>
                    <td>Monthly gross Salary</td>
                    <td>: {{ employeesalary.net_salary|floatformat:2|intcomma|default:"0.00" }}</td>
                </tr>
                <tr>
                    <td>Model Of Salary Payment</td>
                    <td>: A/C payee</td>
                </tr>
                <tr>
                    <td>Salary Date</td>
                    <td>: {{ employeesalary.salary_sheet.date }}</td>
                </tr>
                </tbody>
            </table>

            <table width="100%" border="1" cellpadding="5">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;">
                            <table>
                                <thead>
                                    <tr>
                                        <th align="left">Particulars</th>
                                        <th align="right">Amount (BDT)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Basic (55%)</td>
                                        <td align="right">{{ employeesalary.net_salary|percentage:55|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td>House Allowance (20%)</td>
                                        <td align="right">{{ employeesalary.net_salary|percentage:20|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Conveyance (15%)</td>
                                        <td align="right">{{ employeesalary.net_salary|percentage:15|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Medical Allowance (10%)</td>
                                        <td align="right">{{ employeesalary.net_salary|percentage:10|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Project Bonus</td>
                                        <td align="right">{{ employeesalary.project_bonus|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Festival Bonus</td>
                                        <td align="right">{{ employeesalary.festival_bonus|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Overtime Bonus</td>
                                        <td align="right">{{ employeesalary.overtime|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Lunch Allowance</td>
                                        <td align="right">{{ employeesalary.food_allowance|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Leave Bonus</td>
                                        <td align="right">{{ employeesalary.leave_bonus|floatformat:2|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td><br></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th align="left">Total Earning/Salary</th>
                                        <th align="right">{{ employeesalary.net_salary|addition:employeesalary.project_bonus|addition:employeesalary.food_allowance|addition:employeesalary.festival_bonus|addition:employeesalary.leave_bonus|floatformat:2|intcomma|default:"0.00" }} BDT</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                        <td style="vertical-align: top;">
                            <table>
                                <thead>
                                    <tr>
                                        <th align="left">Particulars</th>
                                        <th align="right">Amount (BDT)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Salary Advance Loan</td>
                                        <td align="right">{{ employeesalary.salary_loan_total|floatformat:2|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td>TDS</td>
                                        <td align="right">{{ employeesalary.tax_loan_total|floatformat:2|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Late Attendance Fine</td>
                                        <td align="right">{{ employeesalary.current_month_late_fee|floatformat:2|default:"0.00" }}</td>
                                    </tr>
                                    <tr>
                                    
                                        <td><br><br><br><br><br><br></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th align="left">Total Deduction</th>
                                        <th align="right">{{  employeesalary.salary_loan_total|addition:employeesalary.tax_loan_total|addition:employeesalary.current_month_late_fee  }}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table width="100%" border="1" cellpadding="5">
                <tfoot style="border-top: 1px solid black;">
                <tr>
                    <th align='left'>Net Salary:</th>
                    <th align="right">{{ employeesalary.gross_salary|floatformat:2|intcomma|default:"0.00" }} BDT</th>
                </tr>
                </tfoot>
            </table>
            <br>
            {% if employeesalary.tax_loan_total or employeesalary.salary_loan_total or employeesalary.current_month_late_fee  %}
                <p>Deducted on salary :
                    {{ employeesalary.net_salary|addition:employeesalary.project_bonus|addition:employeesalary.food_allowance|addition:employeesalary.festival_bonus|floatformat:2|intcomma|default:"0.00" }}
                    {{  employeesalary.salary_loan_total|addition:employeesalary.tax_loan_total|addition:employeesalary.current_month_late_fee }} = <b>{{ employeesalary.gross_salary|floatformat:2|default:"0.00" }} Taka</b>
                </p>

                <p><b>In Word : </b>{{ employeesalary.gross_salary|num_to_word|default:"Zero" }} Taka only</p>
            {% endif %}
            <table width="100%">
                <tr>
                    <td width="70%">For Mediusware Ltd</td>
                </tr>
                <tr>
                    <td rowspan="1">
                        <img src="{{ seal }}" height="80px" alt="">
                    </td>
                    <td></td>
                </tr>
            
                <tr>
                    <td>Md. Shahinur Rahman</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Managing Director</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mediusware Ltd.</td>
                    <td></td>
                </tr>
            </table>

        </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
