{% extends 'letters/extra/base.html' %}

{% load humanize %}
{% load humanize_extra %}
{% load employee_helper %}

{% block content %}
    {% for employee in employees %}
        <p style="width: 50%; margin: auto; text-align: left;">
            <strong>Ref:</strong> Mediusware Ltd./{{ latter_type }}/{{ employee.resignation_date | date:'Ym' }}{{ employee.id }} <br>
            <strong>Date:</strong> {% now "d M Y" %} <br>
        </p>
        
        <h2 style="margin-bottom: -20px;"><u>Salary Certificate</u></h2>
        <table>
            <tr>
                <td>Name</td>
                <td style="margin-left: -200px;">: {{ employee.full_name | title }}</td>
            </tr>
            <tr>
                <td>Employee ID</td>
                <td style="margin-left: -200px;">: {{ employee.joining_date | date:'Yd' }}{{ employee.id }}</td>
            </tr>
            <tr>
                <td>Designation</td>
                <td style="margin-left: -200px;">: {{ employee.designation }}</td>
            </tr>
            <tr>
                <td>Joining Date</td>
                <td style="margin-left: -200px;">: {{ employee.joining_date | date:'M. d, Y' }}</td>
            </tr>
            <tr>
                <td>Department</td>
                <td style="margin-left: -200px;">: {{ employee.department }}</td>
            </tr>
        </table>
        
        <br>


        <p style="width: 50%; margin: auto;">
            This is to certify that the above-mentioned employee is a permanent employee of Mediusware Ltd. Below is their current salary structure:
        </p>

        <table width="100%" border="1" cellpadding="5" align="center" style="border-collapse: collapse; text-align: left;">
            <thead>
            <tr>
                <th>Pay Particulars</th>
                <th>Amount (BDT)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="55%">Basic (55%)</td>
                <td align="right">{{ employee.employeesalary_set | sum_employee_salary:'gross_salary' | percentage:55 }}</td>
            </tr>
            <tr>
                <td>House Allowance (20%)</td>
                <td align="right">{{ employee.employeesalary_set | sum_employee_salary:'gross_salary'| percentage:20 }}</td>
            </tr>
            <tr>
                <td>Conveyance (15%)</td>
                <td align="right">{{ employee.employeesalary_set | sum_employee_salary:'gross_salary'| percentage:15  }}</td>
            </tr>
            <tr>
                <td>Medical Allowance (10%)</td>
                <td align="right">{{ employee.employeesalary_set | sum_employee_salary:'gross_salary' | percentage:10 }}</td>
            </tr>
            <tr>
                <td>Lunch Allowance</td>
                <td align="right">{{ employee.lunch_allowance | floatformat:2 }}</td>
            </tr>
            </tbody>

            <tfoot style="border-top: 1px solid black;">
            <tr>
                <th align='right'>Total Compensation</th>
                <td align="right"><b>
                    {{ employee.employeesalary_set | sum_employee_salary_with_festival_bonus | floatformat:2 }} BDT</b>
                </td>
            </tr>
            </tfoot>
        </table>
        <br>

        <p style="width: 50%; margin: auto;">
            Words: ({{ employee.employeesalary_set | sum_employee_salary_with_festival_bonus | num_to_word }} Taka Only.)
        </p>

        <br>
        <br>
        <br>
        <table width="100%">
            <tr>
                <td width="70%">Yours faithfully,</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="1"><img src="{{ seal }}" height="80px" alt=""></td>
                <td></td>
            </tr>
            <tr>
                <td>HR & Admin</td>
                <td></td>
            </tr>
            <tr>
                <td>Mediusware Ltd.</td>
                <td></td>
            </tr>
            <tr>
                <td>Contact: 01897661850</td>
                <td></td>
            </tr>
            <tr>
                <td>Email: hr@mediusware.com</td>
                <td></td>
            </tr>
        </table>
        <div class="page-break"></div>
    {% endfor %}
{% endblock %}