{% extends 'letters/extra/base.html' %}

{% load humanize %}
{% load humanize_extra %}
{% load employee_helper %}

{% block content %}

<style>
    .info table, .info th, .info td {
        border:1px solid black;
        vertical-align: center;
    }
</style>

    {% for employee in employees %}
    
        <p>Ref: Mediusware
            Ltd./{{ latter_type }}/{{employee.employee_id}}
            <br>
            Date: {% now "jS F Y" %} <br>
        </p>
        
        <p style="text-decoration: underline; font-weight: 900; margin-bottom: 0px;">
            Salary Certificate:
        </p>
        <table width="60%" cellpadding="0">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>: {{ employee.full_name | title }}</td>
                </tr>
                
                <tr>
                    <td>Employee ID</td>
                    <td>: {{employee.employee_id}}</td>
                </tr>

                <tr>
                    <td>Designation</td>
                    <td>: {{ employee.designation }}</td>
                </tr>

                <tr>
                    <td>Date of Joining</td>
                    <td>: {{ employee.joining_date }}</td>
                </tr>
            </tbody>
        </table>

        <p>
            This is to certify that above mentioned employee is working Mediusware Ltd As permanent 
            employee. Please find below employee’s current salary structure:
        </p>

        <div class="info">
            <table width="100%" cellpadding="2">
                <tr >
                    <th>Pay Particulars</th>
                    <th>Amount (BDT)</th>
                </tr>
                <tr>
                    <td>Basic (55%)</td>
                    <td align="center">{{ employee.current_salary.payable_salary | percentage:55 }}</td>
                </tr>
                <tr>
                    <td>House Allowance (20%)</td>
                    <td align="center">{{ employee.current_salary.payable_salary | percentage:20 }}</td>
                </tr>
                <tr>
                    <td>Conveyance (15%)</td>
                    <td align="center">{{ employee.current_salary.payable_salary | percentage:15 }}</td>
                </tr>
                <tr>
                    <td>Medical Allowance (10%)</td>
                    <td align="center">{{ employee.current_salary.payable_salary | percentage:10 }}</td>
                </tr>
                <tr>
                    <td>Gross Salary:</td>
                    <td align="center">{{  employee.current_salary.payable_salary | floatformat:2|intcomma}}</td>
                </tr>
                <tr>
                    <td>Lunch Allowance:</td>
                    <td align="center">{{ employee.employeesalary_set.last.food_allowance | floatformat:2 | intcomma }}</td>
                </tr>
                <tr>
                    <td><b>Total compensation:</b></td>
                    <td align="center"><b>{{employee.current_salary.payable_salary | addition:employee.employeesalary_set.last.food_allowance}} </b></td>
                </tr>
            </table>
        </div>
        
        <p><b>In Word : ({{ employee.current_salary.payable_salary | add:employee.employeesalary_set.last.food_allowance|num_to_word|title }} Taka only.)</b></p>
        <br><br><br>

        <table>
            <tr>
                <td>
                    <hr>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>{{generate_by.full_name|title}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{generate_by.designation}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Mediusware Ltd.</td>
                <td></td>
            </tr>
            <tr>
                <td>Contact: {{generate_by_contact_number}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Email:{{generate_by_contact_email}}</td>
                <td></td>
            </tr>
        </table>
       <div class="page-break"></div>
    {% endfor %}
{% endblock %}