[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.1"
mysqlclient = "*"
python-dotenv = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-userforeignkey = "*"
openpyxl = "*"
django-tinymce = "*"
pillow = "*"
django-googledrive-storage = "*"

[requires]
python_version = "3.9"

[dev-packages]
