[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.1"
mysqlclient = "*"
python-dotenv = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-userforeignkey = "*"
openpyxl = "*"
django-tinymce = "*"
pillow = "*"
django-googledrive-storage = "*"
pyjwt = "*"
django-extensions = "*"
django-nested-inline = "*"
xhtml2pdf = "*"
num2words = "*"
django-q = "*"

[requires]
python_version = "3.6"

[dev-packages]
django-extensions = "*"
