###### Requirements with Version Specifiers ######`
django >= "3.1"

###### Requirements without Version Specifiers ######`
mysqlclient
python-dotenv
markdown
django-filter
djangorestframework
django-userforeignkey