###### Requirements with Version Specifiers ######`
django >= "3.1"

###### Requirements without Version Specifiers ######`
mysqlclient
python-dotenv
markdown
django-filter
djangorestframework
django-userforeignkey
openpyxl
django-tinymce
pillow
django-googledrive-storage
pyjwt
django-extensions
django-nested-inline
xhtml2pdf
num2words