<div class="popover-wrapper" style="padding: 8px;">

    <!-- Column text -->
    <div class="popover-title">
        {{ display_note }}
    </div>

    <!-- Popover message (full details) -->
    <div class="popover-message">
        {% if obj.note %}
            <span style="color: red;margin-bottom: 10px; display: block;">
                {{obj.note}}
                <hr>
            </span>
        {% endif %}
        {% for attachment in obj.expense_attachment %}
            {% if attachment.note %}
                <p>{{ attachment.note }}</p>
                <hr>
            {% endif %}
        {% endfor %}
    </div>

</div>