{% load replace_newline daily_groupby %}

<div class="popover-wrapper">
  <div class="popover-title">
    {% if title %}{{ title }}{% else %}{{ asset.asset_id }}{% endif %}
  </div>

  {% if asset %}
  <div class="popover-message" style="min-width:200px; padding:10px 5px; top:25px;">
    {% if asset.casing %}
      <strong>Casing:</strong> {{ asset.casing }}<br><br>
    {% endif %}
    {% if asset.processor %}
      <strong>Processor:</strong> {{ asset.processor }}<br><br>
    {% endif %}
    {% if asset.ram1 %}
      <strong>RAM 1:</strong> {{ asset.ram1 }}<br><br>
    {% endif %}
    {% if asset.ram2 %}
      <strong>RAM 2:</strong> {{ asset.ram2 }}<br><br>
    {% endif %}
    {% if asset.ssd %}
      <strong>SSD:</strong> {{ asset.ssd }}<br><br>
    {% endif %}
    {% if asset.hdd %}
      <strong>HDD:</strong> {{ asset.hdd }}<br><br>
    {% endif %}
    {% if asset.gpu %}
      <strong>GPU:</strong> {{ asset.gpu }}
    {% endif %}

    {# Generic FixedAsset fields (only when CPU block was skipped) #}
    {% if not asset.casing %}
      {% if asset.asset_id %}
        <strong>Asset ID:</strong> {{ asset.asset_id }}<br><br>
      {% endif %}
      {% if asset.category and asset.category.name %}
        <strong>Category:</strong> {{ asset.category.name }}<br><br>
      {% endif %}
      {% if asset.brand %}
        <strong>Brand:</strong> {{ asset.brand }}<br><br>
      {% endif %}
      {% if asset.model %}
        <strong>Model:</strong> {{ asset.model }}<br><br>
      {% endif %}
      {% if asset.serial %}
        <strong>Serial:</strong> {{ asset.serial }}<br><br>
      {% endif %}
      {% if asset.remarks %}
        <strong>Remarks:</strong> {{ asset.remarks }}
      {% endif %}
    {% endif %}
  </div>
  {% else %}
    <div class="popover-title">-</div>
  {% endif %}
</div>