{% load replace_newline daily_groupby %}

<div class="popover-wrapper">
  {# ------------------------------------------------ title = all chosen asset-ids --------- #}
  <div class="popover-title">
    {% if title %}{{ title }}: {% endif %}
    {% if asset %}
    {% for a in asset %}
      {{ a }}   {# a.__str__ already returns a.asset_id #}
      {% if not forloop.last %}<br>{% endif %}
    {% endfor %}
  {% else %}
    -
  {% endif %}
  </div>

  {# ------------------------------------------------ pop-over body -------------------------- #}
  {% if asset %}
  <div class="popover-message" style="min-width:200px; padding:10px 5px; top:25px;">
    {% for a in asset %}
      {% if a.casing %}                             
        <div class="asset-card">
          {% if a.asset_id %}<strong>Asset ID:</strong> {{ a.asset_id }}<br>{% endif %}
          {% if a.casing %}<strong>Casing:</strong> {{ a.casing }}<br>{% endif %}
          {% if a.processor %}<strong>Processor:</strong> {{ a.processor }}( {{a.processor.brand.name}}, {{ a.processor.core }})<br>{% endif %}
          {% if a.ram1 %}<strong>RAM 1:</strong> {{ a.ram1 }}( {{a.ram1.brand.name}}, {{ a.ram1.ram_size }})<br>{% endif %}
          {% if a.ram2 %}<strong>RAM 2:</strong> {{ a.ram2 }}( {{a.ram2.brand.name}}, {{ a.ram2.ram_size }})<br><br>{% endif %}
          {% if a.ssd %}<strong>SSD:</strong> {{ a.ssd }}({{a.ssd.brand.name}}, {{a.ssd.storage_size}})<br>{% endif %}
          {% if a.hdd %}<strong>HDD:</strong> {{ a.hdd }}({{a.hdd.brand.name}}, {{a.hdd.storage_size}})<br>{% endif %}
          {% if a.gpu %}<strong>GPU:</strong> {{ a.gpu }}{% endif %}
        </div>
      {% else %}                                    
        <div class="asset-card">
          {% if a.asset_id %}<strong>Asset ID:</strong> {{ a.asset_id }}<br>{% endif %}
          <!-- {% if a.category %}<strong>Category:</strong> {{ a.category.name }}<br>{% endif %} -->
          {% if a.brand %}<strong>Brand:</strong> {{ a.brand }}<br>{% endif %}
          {% if a.headphone_feature %}<strong>Feature:</strong> {{ a.headphone_feature }}<br>{% endif %}
          {% if a.serial %}<strong>Serial:</strong> {{ a.serial }}<br>{% endif %}
          {% if a.other_specs %}<strong>Remarks:</strong> {{ a.other_specs }}{% endif %}
        </div>
      {% endif %}
      {% if not forloop.last %}<br><hr><br>{% endif %}
    {% endfor %}
  </div>
  {% else %}
    <div class="popover-title">-</div>
  {% endif %}
</div>