{% extends "admin/base_site.html" %}

{% block title %}
    Clients Project Hours
{% endblock title %}

{% block content %}
    {% load static %}

    <style>
        #main{
            min-width: 100%;
            height: 70vh;
        }
        #nav-sidebar{
            display: none;
        }
        #toggle-nav-sidebar{
            display: none;
        }
        button {
            outline: none;
            background: white;
            padding: 6px 10px;
            color: #417690;
            border: 1px solid #417690;
            border-radius: 4px;
            font-weight: 400;
            transition: background 0.15s;
            cursor: pointer;
            margin-right: 6px;
        }
        button.active {
            background: #417690;
            border-color: #417690;
            color: white;
            font-weight: 600;
        }
        button.filter-active {
            background: #417690 !important;
            color: white !important;
            border-color: #417690 !important;
            font-weight: 600 !important;
        }
        .content{
            max-width: 100% !important;
        }
    </style>

    <script src="{% url 'js-catalog' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">

    {% block content_title %}{% endblock %}
    <div style="display: flex; justify-content: space-evenly;">
        <div>
            <h1>Clients Project Hours</h1>
        </div>
    </div>

    <div style="display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap; gap: 10px;">
        <div>
            <h1 id="chartTitle"> Total Hours: {{ chart.total_hour|floatformat:2 }}</h1>
        </div>

        <div>
            <label for="projectSelect" style="margin-right: 6px; font-weight: 600;">Select Project:</label>
            <select id="projectSelect" style="padding:6px 10px; border:1px solid #417690; border-radius:4px; color:#417690; font-weight:500;">
                {% for project_name, _ in chart_data.items %}
                    <option value="{{ project_name }}">{{ project_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <!-- Chart type switch -->
            <button id="barChart" class="active" onclick="changeChartType('bar')">Bar</button>
            <button id="lineChart" onclick="changeChartType('line')">Line</button>
        </div>

        <div>
            <!-- Weekly / Monthly switch -->
            <button id="weeklyBtn" class="active" onclick="changeView('weekly')">Weekly</button>
            <button id="monthlyBtn" onclick="changeView('monthly')">Monthly</button>
        </div>

        <div>
            <form action="" method="get">
                {{ filter_form.media }}
                {{filter_form.date__gte.label_tag }}{{ filter_form.date__gte }}
                {{filter_form.date__lte.label_tag }}{{ filter_form.date__lte }} <br>
                {{filter_form.total_hour__gte.label_tag }}{{ filter_form.total_hour__gte }} - {{ filter_form.total_hour__lte }}
                
                <button type="submit" class="default" id="filter-button-id">Filter</button>
                <button type="button" onclick="window.location.href = window.location.pathname;">
                    Reset
                </button>
            </form>
        </div>
    </div>

    <div id="main">
        <canvas id="hourChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.2.1/dist/chartjs-plugin-annotation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

    <script>
        const projectData = {{ chart_data|safe }};
        const ctx = document.getElementById('hourChart').getContext('2d');
        const projectSelect = document.getElementById('projectSelect');
        let currentType = 'bar';
        let currentView = 'weekly'; // Default: weekly
        let currentProject = "All Projects";
        projectSelect.value = currentProject;

        function getConfig(type, data) {
            return {
                type: type,
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: currentType,
                        data: data.data,
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgb(75, 192, 192)',
                            'rgb(255, 99, 132)',
                            'rgb(255, 206, 86)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(255, 159, 64)'
                        ],
                        borderWidth: 1,
                        fill: type === 'line' ? true : false,
                        tension: type === 'line' ? 0.3 : 0
                    }]
                },
                options: {
                    // indexAxis: "y",
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        datalabels: {
                            anchor: 'top',
                            align: 'center',
                            formatter: function(value) {
                                return value.toFixed(1);
                            },
                            font: {
                                weight: 'bold',
                                size: 16
                            },
                            color: "green",
                           
                        },
                        tooltip: {
                            enabled: true,
                            bodyFont: { size: 16 },
                            titleFont: { size: 18 },
                            footerFont: { size: 14 },
                            displayColors: false,
                            callbacks: {
                                title: function(context){
                                    return `${context[0].label} (${context[0].raw})`;
                                },
                                label: function() { return null; },
                            }
                        },
                        legend: {
                            labels: { font: { size: 14 } }
                        },
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            barThickness: 20,
                            categoryPercentage: 0.9,
                            barPercentage: 0.8,
                        },
                    }
                },
                plugins: [ChartDataLabels],
            };
        }

        function renderChart() {
            const selected = projectData[currentProject][currentView];
            if (!selected) return;

            document.getElementById('chartTitle').textContent = 
                `Total Hours (${currentView}): ${selected.total_hour.toFixed(2)}`;

            const barHeight = 40;
            const canvas = document.getElementById('hourChart');
            canvas.height = selected.labels.length * barHeight;

            if (window.myChart) window.myChart.destroy();
            window.myChart = new Chart(ctx, getConfig(currentType, selected));
        }

        function changeChartType(type) {
            currentType = type;
            renderChart();

            document.getElementById('barChart').classList.toggle('active', type === 'bar');
            document.getElementById('lineChart').classList.toggle('active', type === 'line');
        }

        function changeView(view) {
            currentView = view;
            renderChart();

            document.getElementById('weeklyBtn').classList.toggle('active', view === 'weekly');
            document.getElementById('monthlyBtn').classList.toggle('active', view === 'monthly');
        }

        projectSelect.addEventListener('change', function() {
            currentProject = this.value;
            renderChart();
        });

        renderChart();

        document.addEventListener("DOMContentLoaded", function() {
            const filterButton = document.getElementById("filter-button-id");
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.toString().length > 0) {
                filterButton.classList.add('filter-active');
            }
        });
    </script>
{% endblock %}
