{% extends 'agreements/base/layout.html' %}

{% block content %}
    <h1>LOAN AGREEMENT</h1>
    <h4>PARTIES</h4>
    <p>
        This Loan Agreement (hereinafter referred to as the “Agreement”) is entered into on _____________ (the
        “Effective Date”), by and between __________________ (hereinafter referred to as the “Borrower”), and
        ________________ (hereinafter referred to as the “Lender”) (collectively referred to as the “Parties”).
    </p>
    <h4>LOAN</h4>
    <p>
        The Parties agree that the loan information set below is accurate. <br>
        Loan Amount : BDT ________________________ <br>
        Payment Method : _______________________ <br>
        Tenor : _______________________ <br>
        EMI : ------------------------ <br>
        Start Date of the First EMI : ___________________________ <br>
        End Date of the Last EMI :____________________________ <br>
    </p>
    <h4>AMENDMENTS</h4>
    <p>
        The Parties agree that any amendments made to this Agreement must be in writing where they must be signed by
        both Parties to this Agreement.
    </p>
    <h4>OWNERSHIP</h4>
    <p>
        The Parties agree that this Agreement is not transferable unless a written consent is provided by both Parties
        of this Agreement.
    </p>
    <h4>SIGNATURE AND DATE</h4>
    <p>
        The Parties hereby agree to the terms and conditions set forth in this Agreement and such is demonstrated
        throughout by their signatures below:
    </p>
    <table>
        <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                    <tr>
                        <td>BORROWER</td>
                    </tr>
                    <tr>
                        <td>Name : ______________</td>
                    </tr>
                    <tr>
                        <td>Address : ______________</td>
                    </tr>
                    <tr>
                        <td>Email : ______________</td>
                    </tr>
                    <tr>
                        <td>Phone : ______________</td>
                    </tr>
                    <tr>
                        <td>NID : ______________</td>
                    </tr>
                    <tr>
                        <td>Signature : ______________</td>
                    </tr>
                    <tr>
                        <td>Date : ______________</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table>
                    <tbody>
                    <tr>
                        <td>LENDER</td>
                    </tr>
                    <tr>
                        <td>Name : Mediusware Ltd</td>
                    </tr>
                    <tr>
                        <td>Address : 18/5 Ring Road, Mohammadpur, Dhaka</td>
                    </tr>
                    <tr>
                        <td>Email : contact@mediusware.com</td>
                    </tr>
                    <tr>
                        <td>Phone : +8801750020408</td>
                    </tr>
                    <tr>
                        <td>NID : ______________</td>
                    </tr>
                    <tr>
                        <td>Signature : ______________</td>
                    </tr>
                    <tr>
                        <td>Date : ______________</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <table>
        <tbody>

        <tr>
            <td>
                <table>
                    <tbody>
                    <tr>
                        <td>GUARANTORS</td>
                    </tr>
                    <tr>
                        <td>Name : ______________</td>
                    </tr>
                    <tr>
                        <td>Address : ______________</td>
                    </tr>
                    <tr>
                        <td>Email : ______________</td>
                    </tr>
                    <tr>
                        <td>Phone : ______________</td>
                    </tr>
                    <tr>
                        <td>NID : ______________</td>
                    </tr>
                    <tr>
                        <td>Signature : ______________</td>
                    </tr>
                    <tr>
                        <td>Date : ______________</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table>
                    <tbody>
                    <tr>
                        <td>WITNESS</td>
                    </tr>
                    <tr>
                        <td>Name : ______________</td>
                    </tr>
                    <tr>
                        <td>Address : ______________</td>
                    </tr>
                    <tr>
                        <td>Email : ______________</td>
                    </tr>
                    <tr>
                        <td>Phone : ______________</td>
                    </tr>
                    <tr>
                        <td>NID : ______________</td>
                    </tr>
                    <tr>
                        <td>Signature : ______________</td>
                    </tr>
                    <tr>
                        <td>Date : ______________</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}