<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Late Entry Notice</title>
</head>
<body>
{% load humanize_extra %}
<h3>Dear {{ employee.full_name | title }},</h3>
<p>
    We noticed that you have been arriving late to the office today at <span style="color: red;">{{entry_time}}</span>. 
    This is your {{ late_count|ordinal }} late entry this month.
</p>
<p>
    Being on time is important for our team to work well together. We understand that sometimes things come up, but arriving late regularly can affect everyone's work.
</p>
<p>
    Please try to arrive by 11.10 am. If you are having any problems that make this difficult, let your supervisor or HR know so we can help.
</p>
<p>
    Thank you for your understanding and cooperation.
</p>

<p>
    Best regards,<br>
    Mediusware HR Team
</p>
</body>
</html>