<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Feedback For TPM Complaint</title>
</head>
<body>
    <p>Dear {{tpm.full_name}}</p>
    <p>Management feedback to your complaint</p>
    <p><strong>Employee:</strong> {{ employee.full_name }}</p>
    <p><strong>Management Feedback:</strong> {{ management_feedback }}</p>

    <p>
        Best regards,<br>
        Mediusware HR Team
    </p>
</body>
</html>
