<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Dear {{employee.full_name}},</h3>
    <p>Congratulations!</p>
    <p>We hope you’re doing well.</p>
    <p>We’re thrilled to inform you that you have been officially promoted to <strong>{{employee.designation.title}}</strong>, effective immediately. This promotion reflects your consistent performance, commitment to excellence, and the impact</p>

    
    <p>you’ve made within your team.</p>
    <p>Your new designation comes under our updated Employee Hierarchy, Career Progression & Compensation Policy, which outlines transparent and structured growth paths across all roles at Mediusware Ltd.</p>
    
    <h3>📌 What’s Next:</h3>
    
    <p>Please refer to the attached policy document to understand the following details related to your new role:</p>
        <p>📋 Role Responsibilities:</p>
        <p>your designation under your respective career track (e.g., Technical, DevOps, QA, Business, Management) to review your core responsibilities.</p>
        <p>⏫ Next Level Promotion Criteria:</p>
        <p>Check Section 6 – Promotion Policy for experience and performance rating requirements to move to the next level.</p>
        <p>📚 Training & Development Plan:</p>
        <p>See Section 9 – Employee Development Programs to explore the learning initiatives designed for your level.</p>

    
    <p>This milestone is a reflection of your hard work, and we’re confident that you’ll continue to thrive in this new role. If you have any questions about your role expectations or development path, please don’t hesitate to reach out to your team lead or the HR department.</p>
    <p>Once again, congratulations on your well-deserved promotion!</p>
        <p>

            Warm regards,, <br>
        HR Department <br>
        <strong>Mediusware Ltd.</strong>
    </p>
</body>
</html>