<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Dear {{employee_name}},</h3>

    <p>Thank you for submitting your resignation. We’ve received it and are reviewing your decision.
        I’d like to share some feedback on your time with us:
    </p>        

    <p>{{feedback}}</p>

    <p>If you’d like to discuss anything further, I’m happy to talk.
    </p>

    <p>

        Best regards, <br>
        MD Shahjahan Kabir <br>
        HR <br>
        Mediusware Ltd.
    </p>
</body>
</html>