<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Dear {{employee_name}},</h3>

    <p>I hope you’re doing well.
    </p>
    <p>Thank you for submitting your resignation letter. After careful consideration, we’ve decided to reject your resignation. We value your contributions and would be pleased to continue having you as part of the team.
    </p>
    <p>I’d also like to share some feedback on your performance:</p>

    <p>{{feedback}}</p>

    <p>We hope you’ll stay and continue to thrive with us. If you would like to discuss this further, please feel free to reach out.
    </p>

    <p>

        Best regards, <br>
        MD Shahjahan Kabir <br>
        HR <br>
        Mediusware Ltd.
    </p>
</body>
</html>