<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Dear {{employee_name}},</h3>

    <p>I hope you’re doing well.
    </p>
    <p>After careful consideration, we have accepted your resignation. While we are sorry to see you go, we truly appreciate the contributions you've made during your time with us. It has been a pleasure working with you, and our journey together has been fantastic.

    </p>
    <p>As you transition out, I’d like to remind you that no confidential company information should be disclosed to any third parties. Please ensure that all proprietary data and sensitive materials remain protected as per our confidentiality agreements.</p>

    <p>We wish you the best of luck in your future endeavors. Should you ever need anything, feel free to reach out. Good luck on your next chapter, and we look forward to seeing all that you accomplish!
    </p>


    <p>

        Best regards, <br>
        MD Shahjahan Kabir <br>
        HR <br>
        Mediusware Ltd.
    </p>
</body>
</html>