<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Dear {{employee.full_name}},</h3>
    <p>We hope you’re doing well.</p>
    <p>We’re writing to officially inform you that your designation has been updated to <strong>{{employee.designation.title}}</strong> as part of our newly implemented <strong>Employee Hierarchy, Career Progression & Compensation Policy</strong>.
    </p>        
    
    <p>This policy outlines structured growth paths, performance evaluation standards, and skill development programs across all departments. We believe this update will help you better understand your current responsibilities, prepare for your next promotion, and plan your professional growth at Mediusware.</p>
    
    <h3>What You Should Do:</h3>
    
    <p>Please review the attached policy document to find the following information relevant to your new role:</p>
    <p><strong>Key Responsibilities:</strong></p>
    <p>Refer to your role level under your department’s career track (e.g., Technical, QA, DevOps, UI/UX, Business Analysis, or Management).</p>
    <p><strong>Eligibility Criteria for Promotion:</strong></p>
    <p>See Section 6 – Promotion Policy, including experience and performance rating requirements.</p>
    <p><strong>Training & Skill Development Plan:</strong></p><br>
    <p>Check Section 9 – Employee Development Programs to understand the training sessions applicable to your level.</p>
    <p>If you have any questions or would like to discuss your growth plan further, please don’t hesitate to contact our HR representative.</p>
    <p>Thank you for being an important part of our team. We look forward to your continued success at Mediusware.</p>

    <p>

        Best regards, <br>
        HR Department <br>
        <strong>Mediusware Ltd.</strong>
    </p>
</body>
</html>