{% extends "admin/change_list.html" %}

{% block content %}
  {{ block.super }} <!-- This ensures the default content (list of objects) is rendered -->
  <!-- Add any other custom content here -->
{% endblock %}
{% block content_title %}
    <div style="width: 100%">
        <h1> All Employees Late Attendance 
          <!-- <span style="float: right">Total Fine {{ total_fine|default:"0.00" }}</span> -->
        </h1><br><br>Total Late Entries: {{ total_late_entries|default:"0" }}<br><br>
    </div>
{% endblock %}