{% extends 'admin/change_list.html' %}
{% load static %}
{% load i18n admin_urls static admin_list %}
{% block extrahead %}
    {{ block.super }}
    <script defer type="text/javascript" src="{% static 'js/chat.js' %}"></script>
    <style>
        .message_count{
            display: flex;
            min-width: 150px;
            gap: 5px;
        }
        #new-message-count{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: red;
            color: #fff;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .actions{
            flex-grow: 22;
            flex-shrink: 7;
            flex-basis: 20px;
        }
        .action-container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }
    </style>
{% endblock extrahead %}


{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}
    <div class="action-container">

        {% admin_actions %}
        <h1 class="message_count">New Message <span id="new-message-count">{{ unseen_message_count }}</span></h1>
    </div>
    
    {% endif %}
    {% result_list cl %}
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}
