{% extends "admin/change_list.html" %}

{% load i18n %}

{% load tz %}

{% load humanize %}

{% block content_title %}
    <div style="width: 80%">
        <h1> Project Hours <span style="float: right">Total Hour {{ total | floatformat:2| intcomma }}</span></h1>
    </div>
{% endblock %}

{% block footer %}
    <div style="padding: 20px 40px">
        <h1>Project Summery</h1>

    </div>

    <script type="text/javascript">
        var secondUl = document.querySelector('#changelist-filter ul:nth-of-type(2)');

        var listItems = secondUl.querySelectorAll('li');

        listItems.forEach(function(li, index) {
            if (index === 0){
                return;
            }
            var anchor = li.querySelector('a');
            title = li.textContent
            var modifiedTitle = title.replace(/^[^>]+>/, '');
            anchor.setAttribute('title', modifiedTitle);
            anchor.innerHTML = anchor.querySelector('span').outerHTML;
        });
    </script>
{% endblock %}
