{% extends 'admin/change_form.html' %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    {#    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>#}
    {#    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>#}
    {#    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>#}
    <script type="text/javascript">
        {#$("select").select2({});#}
    </script>



    <style>
        .search-box {
            /*height: 30px !important;*/
        }

        .user-list {
            padding-right: 1em !important;
            list-style: none !important;
            padding-left: 1em !important;
        }

        .user-list li {
            padding: 4px 0;
            list-style: none !important;
        }

        .user-list li:hover {
            background: #ddd;
        }

        .user-list-container {
            position: absolute;
            background: white;
            min-width: 150px;
            /*left: 0;*/
            border: 1px solid #ddd;
            display: none;
            z-index: 2;
        }
    </style>
    <script>
        const removeIfStartsWith = [
            'Md. ', 'Md ', 'MD ', 'MD. '
        ];
        let optionsArr = [];

        const searchInput = `
        <input type="text" class="search-box" onkeyup="search(event)">
        <div class="user-list-container">
            <ul class="user-list"></ul>
        </div>`.trim();

        const getDivSearchInput = () => {
            let divSearchInput = document.createElement("div");
            divSearchInput.innerHTML = searchInput;
            return divSearchInput;
        }

        // After the document has loaded
        document.addEventListener("DOMContentLoaded", function () {
            // Get all options
            let firstSelect = document.querySelector("select#id_employeeprojecthour_set-0-employee");
            let firstRelatedWidgetWrapper = firstSelect.closest(".related-widget-wrapper");
            let options = firstSelect.querySelectorAll("option");

            // Get example select
            let exampleSelect = document.querySelector("select#id_employeeprojecthour_set-__prefix__-employee");
            let exampleRelatedWidgetWrapper = exampleSelect.closest(".related-widget-wrapper");

            firstRelatedWidgetWrapper.prepend(getDivSearchInput());
            //firstRelatedWidgetWrapper.style.position = 'relative';

            exampleRelatedWidgetWrapper.prepend(getDivSearchInput());
            //exampleRelatedWidgetWrapper.style.position = 'relative';

            // Get optionsArr
            options.forEach(function (option) {
                optionsArr.push({option: option.innerHTML, value: option.value});
            });

            // Remove the options that starts with 'Md.'
            optionsArr.filter(function (option) {
                if (removeIfStartsWith.some(function (removeIfStartsWith) {
                    return option.option.startsWith(removeIfStartsWith);
                })) {
                    option.option = option.option.split(" ").splice(1).join(" ",);
                }
            });

            // Sort the options
            optionsArr.sort(function (a, b) {
                return a.option.localeCompare(b.option);
            });

            const getSortedData = () => {
                /**
                 * Set sorted options
                 *
                 * @param select
                 * @param options
                 */
                const createOptions = (select, options) => {
                    // reset the options
                    select.innerHTML = "";

                    for (let i = 0; i < options.length; i++) {
                        let option = document.createElement("option");
                        option.value = options[i].value;
                        option.innerHTML = options[i].option;
                        select.appendChild(option);
                    }
                }

                // create new options for the example select
                createOptions(exampleSelect, optionsArr);

                // create new options for the first select
                createOptions(firstSelect, optionsArr);
            }

            getSortedData();
        });

        const search = (event) => {
            let target = event.target;
            let searchTerm = target.value.toLowerCase();
            let relatedWidgetWrapper = target.closest(".related-widget-wrapper");
            let userListTarget = relatedWidgetWrapper.querySelector(".user-list");
            let parentDiv = userListTarget.closest(".user-list-container");
            parentDiv.style.display = "block";
            let noUserFound = searchTerm.length ? "<li>No user found</li>" : parentDiv.style.display = "none";
            userListTarget.innerHTML = "";

            let searchFound = optionsArr.filter(user => {
                let data = user.option.toLowerCase().startsWith(searchTerm) ? user : null;
                let data2 = user.option.toLowerCase().includes(searchTerm) ? user : null;
                return data ? data : data2;
            });

            searchFound.forEach(user => {
                let li = document.createElement("li");
                li.dataset.value = user.value;
                li.innerHTML = user.option;
                userListTarget.appendChild(li);
            });

            let filteredUserList = relatedWidgetWrapper.querySelectorAll(".user-list li");

            filteredUserList.forEach(user => {
                user.addEventListener("click", (event) => {
                    let target = event.target;
                    let value = target.dataset.value;
                    let label = target.innerHTML;
                    let input = relatedWidgetWrapper.querySelector("input");
                    input.value = '';
                    input.setAttribute("data-value", value);
                    parentDiv.style.display = "none";

                    relatedWidgetWrapper.querySelector("select option[value='" + value + "']").selected = true;
                });
            });
        }
    </script>

{% endblock %}