{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
    <style>
        .news-track {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    </style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
    <div id="content-main">
        {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
    </div>

{#    <div class="news-track">#}
{#        <marquee onmouseover="this.stop();" önmouseout="this.start();">Test Message</marquee>#}
{#    </div>#}

{% endblock %}

{% block sidebar %}

    <div id="content-related">

        <div class="module" id="recent-actions-module">
            <h2>Recent Event</h2>
            {% if leaves.count > 0 %}
                <h3>Leave Today ({{ leaves.count }})</h3>
                <ul class="actionlist">
                    {% for employee_leave in leaves %}
                        <li>{{ employee_leave }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if birthday.count > 0 %}
                <h3>Birthday Today ({{ birthday.count }})</h3>
                <ul class="actionlist">
                    {% for employee_birthday in birthday %}
                        <li>{{ employee_birthday }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if increment.count > 0 %}
                <h3>Increment Nearby ({{ increment.count }})</h3>
                <ul class="actionlist">
                    {% for employee_increment in increment %}
                        <li>{{ employee_increment }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if permanent.count > 0 %}
                <h3>Permanent Nearby ({{ permanent.count }})</h3>
                <ul class="actionlist">
                    {% for employee_permanent in permanent %}
                        <li>{{ employee_permanent }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            <h2>{% translate 'Recent actions' %}</h2>
            <h3>{% translate 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
                <p>{% translate 'None available' %}</p>
            {% else %}
                <ul class="actionlist">
                    {% for entry in admin_log %}
                        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                            {% if entry.is_deletion or not entry.get_admin_url %}
                                {{ entry.object_repr }}
                            {% else %}
                                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}
                            <br>
                            {% if entry.content_type %}
                                <span class="mini quiet">{% filter capfirst %}
                                    {{ entry.content_type.name }}{% endfilter %}</span>
                            {% else %}
                                <span class="mini quiet">{% translate 'Unknown content' %}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>




{% endblock %}
