<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://mw-hr.sgp1.digitaloceanspaces.com/media/public_image/Logo_MW.png">
    <title>Expense Attachments</title>
    <style>
        .page-break {
            page-break-after: always;
        }

    </style>
</head>
<body>
    {% for item in attachments %}
        <div class="attachment-box page-break">
            <div class="amount-header">{{item.expense_date}} - {{ item.expense_group }} - {{ item.amount_header }}</div>
            {% if item.is_image %}
                <img src="{{ item.file_url }}" alt="Attachment">
            {% else %}
                <div>
                    <a href="{{ item.file_url }}" class="file-link" target="_blank">
                        [View {{ item.filename }}]
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>