<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Voucher</title>
    <style>
        header {
            width: 90%;
            margin: 0px auto;
            text-align: center;
            line-height: 0.5;
        }

        @page {
            size: A4;  /* You can also use other predefined sizes like 'letter', 'legal', etc. */
            margin: 10mm; /* Set your preferred margins */
        }
    </style>
</head>

<body>
    <header>
        <h2>Mediusware</h2>
        <p>Ring Road, House 18/5, Floor - 2nd Dhaka, 1207</p>
        <strong>Payment Voucher (PV)</strong>
    </header>
    
</body>

</html>