<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>

    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
{{ project.title }}

<table>
    <tr>
        <th>Date</th>
        <th>Updates</th>
        <th>Task Hours</th>
        <th>Day Hours</th>
    </tr>

    {% for daily_update in daily_updates %}
        <tr>
            <td>{{ daily_update.created_at }}</td>
            <td>{{ daily_update.updates_json }}</td>
            <td>{{ daily_update.hours }}</td>
{#            {% for single_update in daily_update.updates_json %}#}
{#                <td>#}
{#                    <tr>{{ single_update.0 }}</tr>#}
{#                </td>#}
{#            {% endfor %}#}
{##}
{#            {% for single_update in daily_update.updates_json %}#}
{#                <td>#}
{#                    <tr>{{ single_update.1 }}</tr>#}
{#                </td>#}
{#            {% endfor %}#}

            <td>{{ daily_update.hours }}</td>
        </tr>
    {% endfor %}

</table>

</body>
</html>