{% extends 'admin/base.html' %}
{% block branding %}
    <h1>Medisuware Ltd</h1>
{% endblock %}

{% block content %}
    {{ assessment }} | Score : {{ assessment.score }} | {{ assessment.duration }} Minutes | Total Question :
    {{ assessment.assessmentquestion_set.count }}
    <br>
    {{ assessment.description | safe }}
    <ol>
        {% for assessment_question in assessment.assessmentquestion_set.all %}
            <li>
                {{ assessment_question.title }} | {{ assessment_question.score }}
                | {{ assessment_question.get_type_display }}
                <ol>
                    {% for assessment_answer in assessment_question.answers.all %}
                        <li>{{ assessment_answer.title }} | {{ assessment_answer.score }}
                            | {{ assessment_answer.correct }}</li>
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block nav-sidebar %}
    {% include 'admin/nav_sidebar.html' with app_list=available_apps show_changelinks=False %}
{% endblock %}

