{% extends "admin/base.html" %}

{% block title %}
    Balance
{% endblock %}

{% block branding %}
    <h1>Medisuware Ltd</h1>
{% endblock %}

{% block content %}
    <h1>Balance</h1>
    <h3>{{ start_date }} to {{ end_date }}</h3>
    <div class="results">
        <table width="100%">
            <thead>
            <tr>
                <th>#</th>
                <th>Month</th>
                <th>Salary</th>
                <th>Other Expense</th>
                <th>Income</th>
                <th>P/L</th>
            </tr>
            </thead>
            <tbody>
            {% for month in month_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ month.date }}</td>
                    <td>{{ month.salary }}</td>
                    <td>{{ month.expense }}</td>
                    <td>{{ month.income }}</td>
                    <td>{{ month.pl }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}