{% extends "admin/base.html" %}

{% block title %}
    Balance
{% endblock %}

{% block branding %}Hello world {% endblock %}

{% block content %}
    <h1>Hello world</h1>
    <div class="results">
        <table>
            <thead>
            <tr>
                <th>Month</th>
                <th>Salary</th>
                <th>Other Expense</th>
                <th>Income</th>
                <th>P/L</th>
            </tr>
            </thead>
            <tbody>
            {% for month in month_list %}
                <tr>
                    <td>{{ month.date }}</td>
                    <td>{{ month.salary }}</td>
                    <td>{{ month.expense }}</td>
                    <td>{{ month.income }}</td>
                    <td>{{ month.pl }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}