{% extends 'admin/change_form.html' %}


{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ media }}
<style>
    /* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
</style>
{% endblock %}

{% block inline_field_sets %}
<div style="text-align: right; margin-bottom: 6px;">
<!--?    <button type="button" id="pdf-btn" onclick="getPdfData()" class="btn">Generate PDF</button>-->
    <button type="button" id="copy-btn" onclick="copyUpdateContent()" class="btn">Copy Update</button>
</div>
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
<script>
    function generateWeeklyReportPDF(type){
        const path = window.location.pathname;
        const path_list = path.split("/").filter(n=>n);
        const project_hour_id = path_list[path_list.length-2];
        project = document.querySelector('#id_project');
        hour_date = document.querySelector("#id_date");
        const host = window.location.host;
        const url = `http://${host}/projects/project-weekly-report/${project.value}/${hour_date.value}/?doc_type=${type}&project_hour_id=${project_hour_id}`;
        window.open(url);
    }
    
    function copyUpdateContent(){
        
        const index = "{% if request.user.employee.is_tpm %} 2 {% else %} 1 {% endif %}"
        console.log("index,",index)
        const formset = document.getElementsByTagName("fieldset")[parseInt(index)]

        const allTr = formset.getElementsByTagName('tr')

        let allRow = "";
        for (let index = 0; index < allTr.length; index++) {
            const element = allTr[index];
            console.log(element.classList.contains('dynamic-employeeprojecthour_set'))
            if (element.classList.contains('dynamic-employeeprojecthour_set')){
                const u = element.getElementsByClassName("field-update")[0]
                allRow += u.getElementsByTagName('textarea')[0].value +"\n\n"

            }
            
        }
        navigator.clipboard.writeText(allRow)
    }
    // const copyBtn = document.getElementById('copy-btn')
    // copyBtn.addEventListener('click', copyUpdateContent)


</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>



<script>

    function getPdfData(){
        const pdfBtn = document.getElementById('pdf-btn')
        pdfBtn.innerHTML = "Generating PDF..."
        const project = document.querySelector('#id_project');
        const hour_date = document.querySelector("#id_date");
        const index = "{% if request.user.employee.is_tpm %} 2 {% else %} 1 {% endif %}"
        console.log("index,",index)
        const formset = document.getElementsByTagName("fieldset")[parseInt(index)]

        const allTr = formset.getElementsByTagName('tr')

        const baseUrl = window.location.origin;

        let allRow = "";
        for (let index = 0; index < allTr.length; index++) {
            const element = allTr[index];
            console.log(element.classList.contains('dynamic-employeeprojecthour_set'))
            if (element.classList.contains('dynamic-employeeprojecthour_set')){
                const u = element.getElementsByClassName("field-update")[0]
                allRow += u.getElementsByTagName('textarea')[0].value +"\n\n"

            }
            
        }
            // Data to be sent in the POST request
        var data = {
            'update': allRow,
            "project_id": project.value,
            "hour_date": hour_date.value,
            'csrfmiddlewaretoken': '{{ csrf_token }}'  // Include CSRF token for security
        };
        if(allRow === ""){
            alert("No update Found. First Generate the update then try again.")
            return
        }

        // AJAX POST request
        $.ajax({
            url:  `${baseUrl}/projects/project-weekly-report/`,  // Replace with your Django view URL
            type: 'POST',
            data: data,
            xhrFields: {
            responseType: 'blob' // Important for handling binary data
        },
            success: function(data) {
                const url = window.URL.createObjectURL(data);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'example.pdf';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
                pdfBtn.innerHTML = "Generate PDF"
            },
            error: function(xhr, status, error) {
                pdfBtn.innerHTML = "Generate PDF"
                console.error('Error:', error);
                alert('An error occurred while submitting data.');
            }
        });
        }   



</script>
{% endblock %}