{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ media }}
<style>
    /* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
</style>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}



{% block content %}<div id="content-main">
    
    {% if not 'change' in request.path%}
        
        <div class="row">
            <div class="col">
                <p style="color:red;">Select project and date then click generate button. </p>
            </div>
        </div>
    {% endif %}
        
    
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}
{% block field_sets %}
{% for fieldset in adminform %}
{% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
<div style="text-align: right; margin-bottom: 6px;">
    <button type="button" onclick="generateWeeklyReportPDF('pdf')" class="btn">Generate PDF</button>
    <button type="button" onclick="copyUpdateContent()" class="btn">Copy Update</button>
</div>
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}
{% if not 'change' in request.path%}
    <div class="submit-row">
        <input onclick="getThisWeekHour()" id="generate-btn" value="Generate" class="default" style="height: auto;" readonly>
    </div>
{% endif %}
{% submit_row %}
{% endblock %}

{% block admin_change_form_document_ready %}
    <script id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}
            async>
    </script>
    
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

<script>
    function getThisWeekHour(e){
        project = document.querySelector('#id_project');
        phour_date = document.querySelector("#id_date");

        add_btn = document.querySelector(".add-row a");
        // if (project.value == "" || phour_date.value == "") {
        //     alert("Please select project and project hours date !!!");
        //     return;
        // }
        $.ajax({
            url: "/projects/get-this-week-hour/" + project.value +"/" + phour_date.value + "/",
            type: "GET", //send it through get method

            success: function(data) {
                hour = data.weekly_hour;
                console.log(hour);
                for(var i=0; i<hour.length; i++){
                    hour_input = document.querySelector(`#id_employeeprojecthour_set-${i}-hours`);
                    employee_select = document.querySelector(`#id_employeeprojecthour_set-${i}-employee`);
                    date = document.querySelector(`#id_employeeprojecthour_set-${i}-date`);
                console.log(hour[i].created_at,"Print the date ");
                date.value = hour[i].created_at.substring(0, 10);


                    update_input = document.querySelector(`#id_employeeprojecthour_set-${i}-update`);
                    update_id_input = document.querySelector(`#id_employeeprojecthour_set-${i}-update_id`);
                    update_id_input.value = hour[i].id;
                    console.log(hour[i].updates_json);
                    hour_input.value = hour[i].hours;
                    if (hour[i].updates_json){
                        console.log("json", hour[i]);
                        let v = ""
                        for(var j=0; j<hour[i].updates_json.length; j++){
                            v += hour[i].updates_json[j][0]
                        }
                        console.log(v)
                        update_input.value = v;
                    }else{
                        console.log("not json", hour[i].updates_json);
                        
                        update_input.value = hour[i].update
                    }
                    // let update_data = hours[i].update;
                    // update_input.value = update_data[0][0];
                    // console.log("hour", hour_input.value)

                    var optionNode = document.createElement("option");
                    optionNode.value = hour[i].employee_id;
                    optionNode.textContent = hour[i].full_name;
                    employee_select.appendChild(optionNode);
                    
                    {% comment %} employee_select.value = hours[i].id;  {% endcomment %}
                    {% comment %} console.log(hours[i].id, i); {% endcomment %}

                    {% comment %} employee_select.val('54');
                    employee_select.trigger('change'); {% endcomment %}
                    {% comment %} console.log($(`#id_employeeprojecthour_set-${i}-employee`)); {% endcomment %}

                    {% comment %} $(`#id_employeeprojecthour_set-${i}-employee`).val(hours[i].id).trigger('change'); {% endcomment %}

                    add_btn.click();
                }

                document.querySelector("#id_hours").value = data.total_project_hours;
                generate_btn = document.querySelector("#generate-btn");
                generate_btn.disabled = true;
                console.log(generate_btn)
            },
            error: function(xhr) {
                console.log("error");
                console.log(data)
            }
        });
        
    }
    const path = window.location.pathname;
    const path_list = path.split("/").filter(n=>n);
    const action = path_list[path_list.length-1];
    console.log(action,"This is text")
    getThisWeekHour();
    if (action == "change"){
        console.log("change action")
        getThisWeekHour();
    }
    function copyUpdateContent(){
        const index = "{% if request.user.employee.is_tpm %} 2 {% else %} 1 {% endif %}"
        console.log("index,",index)
        const formset = document.getElementsByTagName("fieldset")[parseInt(index)]
        console.log(formset)
        const allTr = formset.getElementsByTagName('tr')

        let allRow = "";
        for (let index = 0; index < allTr.length; index++) {
            const element = allTr[index];
            console.log(element.classList.contains('dynamic-employeeprojecthour_set'))
            if (element.classList.contains('dynamic-employeeprojecthour_set')){
                const u = element.getElementsByClassName("field-update")[0]
                allRow += u.getElementsByTagName('textarea')[0].value +"\n\n"

            }
            
        }
        navigator.clipboard.writeText(allRow)
        console.log(allRow)
    }
    // const copyBtn = document.getElementById('copy-btn')
    // copyBtn.addEventListener('click', copyUpdateContent)

    function generateWeeklyReportPDF(type){
        project = document.querySelector('#id_project');
        hour_date = document.querySelector("#id_date");
        const host = window.location.host;
        const url = `http://${host}/projects/project-weekly-report/${project.value}/${hour_date.value}/?doc_type=${type}`;
        window.open(url);
    }
    
</script>

{% endblock %}
