<form action="{% url 'change-active-status' %}" method="post" id="statusForm">
    {% csrf_token %}
    {% for field in status_form.visible_fields %}
        <div class="form-check form-switch d-flex align-items-center justify-content-center">
            <input class="form-check-input" type="checkbox" role="switch"
                   onchange="document.querySelector('#statusForm').submit()"
                   name="{{ field.name }}"
                   style="padding: 0.9rem 2rem"
                   id="flexSwitchCheckChecked" {% if field.value %} checked {% endif %}>
            <label class="form-check-label d-sm-none" style="margin: 0.5rem 0.5rem"
                   for="flexSwitchCheckChecked">
                {% if field.value %} Inside Office {% else %} OutSide Office {% endif %}
            </label>
        </div>
        {{ field.errors }}
    {% endfor %}
</form>