{% extends "admin/base_site.html" %}

{% block title %}
    Employee Feedback
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
>

<div class="">
    <form action="{% url 'admin:employee_feedback' %}" method="post" id="feedbackForm" class="m-1">
        {% csrf_token %}
            {% for field in employee_feedback_form.visible_fields %}
                <div class="m-5">
                    <label for="" class="me-2">{{ field.label }}</label> <br>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="m-5">
                <input id="feedbackSubmit" type="submit" value="Submit" class="btn btn-sm">
            </div>
    </form>
</div>


{% endblock %}
