<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Interview Canceled</title>
</head>
<body>
    <h1>Dear {{ candidate.full_name }},</h1>
    <p>We regret to inform you that your interview for the <strong>{{ position.title }}</strong> position has been canceled.</p>
    <p>If you have any questions or need further information, please feel free to reach out to our HR department.</p>
    <p>Thank you for your understanding.</p>
    <br>
    <p>Regards, <br>
        Mediusware Ltd, <br>
        +8801601712931 <br>
        hr@mediusware.com <br>
        Address: Floor 7th, 24/1 & 24/2, Taj Mahal Road, Shiya Masjid mor, Ring Road, & 8th, Dhaka 1207 <br>
        Facebook: <a href="https://www.facebook.com/mediusware" target="_blank">https://www.facebook.com/mediusware</a>
        <br>
        LinkedIn: <a href="https://www.linkedin.com/company/mediusware-ltd/" target="_blank">https://www.linkedin.com/company/mediusware-ltd/</a>
    </p>
</body>
</html>
