{% extends 'mail/basic_layout.html' %}

{% block content %}

    <p>
        Dear <b>{{ candidate.full_name }}</b>
    </p>

    <p>
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem doloremque similique molestias veniam voluptatum nisi ullam expedita ab, libero consequatur natus quod. Quaerat cumque fugiat dignissimos explicabo corrupti ad ducimus.
    </p>


    <p>
        Sincerely, <br>
        Md Shahinur Rahman <br>
        Managing Director <br>
        Mediusware Ltd.
    </p>
{% endblock %}