{% extends 'mail/basic_layout.html' %}

{% block content %}
    <p>Hello <b>{{ candidate_assessment.candidate_job.candidate.full_name }}</b>, <br>
        Thank you for apply at <b>Mediusware Ltd.</b> in the position of
        <b>{{ candidate_assessment.candidate_job.job.title }}</b>,
        <br>
    </p>
    <p>
        To join in <b>Mediusware</b> you need to
        complete <strong>{{ candidate_assessment.candidate_job.job.assessments.count }}</strong> exam which are :
    <ul>
        {% for exam in candidate_assessment.candidate_job.job.assessments.all %}
            <li>{{ exam.title }}</li>
        {% endfor %}
    </ul>
    <br>
    </p>
    <p>To attend <b>{{ candidate_assessment.assessment.title }}</b> please click in the button <b>Start Exam</b> given
        bellow
    </p>
    <a href="{{ url }}">Start Exam</a>
    <p>Wish you good luck</p>
    <p>Regards, <br>
        Mediusware Ltd, <br>
        +8801750020408 <br>
        hr@mediusware.com</p>

{#    <p style="display: none">{{ candidate_assessment.candidate_job.additional_message | safe }}</p>#}

{% endblock %}