{% extends "admin/change_list.html" %}

{% block content_title %}
    <div style="width: 100%">
        <h1>CEO Waiting List<span style="float: right;font-size: 20px;"><a target="_blank" href="{{ main_domain }}/ceo-appointment/">Show in Web</a></span></h1><br><br>
    </div>
{% endblock %}


{% block content %}
<label style="font-weight: bold;" >Select CEO Status:</label>
    <div style="display: flex; align-items: center; gap: 20px; margin: 10px 0px;" class="flex align-items-center flex-wrap">
       
        {% for status in ceo_status %}
        <div class="form-check form-check-inline mr-3">
            <input type="radio" class="form-check-input" id="status_{{ status.id }}" name="ceo_status" 
                   value="{{ status.status_name }}" onchange="updateStatus(this.value)">
            <label class="form-check-label" for="status_{{ status.id }}">{{ status.status_name }}</label>
        </div>
    {% endfor %}
    </div>
    {{ block.super }}
{% endblock %}

{% block extrahead %}
<script>
    function updateStatus(selectedStatus) {
        console.log("Current Status",selectedStatus)
        const csrfToken = '{{ csrf_token }}'; 

        fetch("{% url 'update_ceo_status' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken 
            },
            body: JSON.stringify({ "current_status": selectedStatus })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // alert("Status updated successfully!");
            } else {
                alert("Failed to update status.");
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
</script>
{% endblock %}