{% extends "admin/change_list.html" %}
{% load static %}

{% block content_title %}
    <div style="width: 100%">   
        <h1>CEO Waiting List<span style="float: right;font-size: 20px;"><a target="_blank" href="{{ main_domain }}/ceo-appointment/">Show in Web</a></span></h1><br><br>
    </div>
{% endblock %}


{% block content %}
    {% if request.user.is_superuser%}
    <label style="font-weight: bold;" >Select CEO Status:</label>
    <div style="display: flex; align-items: center; gap: 20px; margin: 10px 0px;" class="flex align-items-center flex-wrap">
       
        {% for status in ceo_status %}
        <div class="form-check form-check-inline mr-3">
            <input type="radio" class="form-check-input" id="status_{{ status.id }}" name="ceo_status" 
                   value="{{ status.status_name }}" onchange="updateStatus(this.value)">
            <label class="form-check-label" for="status_{{ status.id }}">{{ status.status_name }}</label>
        </div>
    {% endfor %}
    </div>
    {%endif%}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
<link rel="icon" id="med">
<script>
    function updateStatus(selectedStatus) {
        console.log("Current Status",selectedStatus)
        const csrfToken = '{{ csrf_token }}'; 

        fetch("{% url 'update_ceo_status' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken 
            },
            body: JSON.stringify({ "current_status": selectedStatus })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // alert("Status updated successfully!");
            } else {
                alert("Failed to update status.");
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
    document.addEventListener('DOMContentLoaded', function() {

        setTimeout(function() {
            window.location.reload();
        }, 180000);

        function fetchPendingReceptionCount() {
            // Perform an AJAX GET request to fetch the pending count
            fetch("{% url 'pending_waiting_count' %}", {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest' // Required for Django to recognize it as an AJAX request
                }
            })
            .then(response => response.json())
            .then(data => {
                
                let pendingCount = data.pending_count;
                let has_permission = data.has_perm
                // Select the <title> element
                let titleElement = document.getElementsByTagName('title')[0];
                

                // Get the current title text
                let currentTitle = titleElement.textContent.trim();

                // If pending reception count is present and greater than 0, prepend it to the title
                var icon = document.getElementById('notification-icon');

                if (pendingCount !== undefined && pendingCount > 0 && has_permission) {
                    titleElement.textContent = `(${pendingCount}) ${currentTitle}`;
                    var fev_element = document.getElementById('med')
                    fev_element.setAttribute("href","https://mw-hr.sgp1.digitaloceanspaces.com/media/public_image/dfdfd.png") 
                   
                    var savedStatus = localStorage.getItem('notificationStatus');
                    if (savedStatus === 'enabled') {
                    var audio = new Audio("{% static 'audio/reception-notification.mp3' %}");
                    audio.play().then(() => {
                        console.log('Audio playing');
                    }).catch((error) => {
                        console.error('Playback failed:', error);
                    });
                } else {
                    console.log('Notification is disabled');
                }
                    
                 
        
                } else {
                    var fev_element = document.getElementById('med')
                    fev_element.setAttribute("href","https://mw-hr.sgp1.digitaloceanspaces.com/media/public_image/Logo_MW.png") 
                    // If no pending receptions, reset to the original title
                    titleElement.textContent = currentTitle;

                }

            })
            .catch(error => {
                console.error("Error fetching pending reception count:", error);
            });
        }

        // Call the function when the page loads
        fetchPendingReceptionCount();
    })

</script>
{% endblock %}