{% extends "admin/change_list.html" %}

{% load static %}

{% block title %}
            {% if cl.opts.verbose_name_plural %}
                {{ cl.opts.verbose_name_plural|capfirst }}
            {% else %}
                {{ title }}
            {% endif %}
            {% if site_title %}
                | {{ site_title }}
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block content_title %}
    <div style="width: 100%">
        <h1>Reception List <span style="float: right"><i id="notification-icon" class="fa fa-bell notification-icon off" onclick="toggleNotification()"></i></span></h1><br><br>
    </div>
{% endblock %}

{% block extrahead %}
    <!-- <link rel="icon" id="med" href="https://mediusware.com/favicon.ico"> -->
    <link rel="icon" id="med">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        #result_list {
            min-height: 50vh;
        }

        select {
            overflow: overlay;
        }

        ul.messagelist li.alert-danger {
            color: white !important;
            background: red !important;
        }

        .blinking-text {
            animation: blink 1.5s infinite alternate;
        }

        @keyframes blink {
            from { color: red; }
            to { color: #41a6fa; }
        }

        /* Container for h3 and button */
        .filter-header {
            display: flex;
            justify-content: space-between; /* Align h3 and button on opposite ends */
            align-items: center;
        }

        /* Style for the toggle buttons beside h3 */
        .toggle-filter-button {
            cursor: pointer;
            background: none;
            border: none;
            font-size: 18px;
            margin-left: 10px;
            outline: none;
        }

        .toggle-filter-button:focus {
            outline: none;
        }

    </style>
<script>

    function toggleNotification() {
            var icon = document.getElementById('notification-icon');
            
            if (icon.classList.contains('enabled')) {
                icon.classList.remove('enabled');
                icon.classList.add('off');
                icon.classList.remove('fa-bell');
                icon.classList.add('fa-bell-slash'); // Change icon to "bell off"
                localStorage.setItem('notificationStatus', 'off'); // Save the state in localStorage
            } else {
                icon.classList.remove('off');
                icon.classList.add('enabled');
                icon.classList.remove('fa-bell-slash');
                icon.classList.add('fa-bell'); // Revert to normal bell icon
                localStorage.setItem('notificationStatus', 'enabled'); // Save the state in localStorage
            }
        }
    document.addEventListener('DOMContentLoaded', function() {
        
        // Restore the notification icon state from localStorage
        var savedStatus = localStorage.getItem('notificationStatus');
        var icon = document.getElementById('notification-icon');
        if (savedStatus === 'off') {
            icon.classList.remove('enabled');
            icon.classList.add('off');
            icon.classList.remove('fa-bell');
            icon.classList.add('fa-bell-slash');
        } else {
            icon.classList.remove('off');
            icon.classList.add('enabled');
            icon.classList.remove('fa-bell-slash');
            icon.classList.add('fa-bell');
        }

        console.log("Running");
        setTimeout(function() {
            window.location.reload();
        }, 180000);      

        function fetchPendingReceptionCount() {
            // Perform an AJAX GET request to fetch the pending count
            fetch("{% url 'pending_reception_count' %}", {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest' // Required for Django to recognize it as an AJAX request
                }
            })
            .then(response => response.json())
            .then(data => {
                
                let pendingCount = data.pending_count;
                let has_permission = data.has_perm
                // Select the <title> element
                let titleElement = document.getElementsByTagName('title')[0];
                

                // Get the current title text
                let currentTitle = titleElement.textContent.trim();

                // If pending reception count is present and greater than 0, prepend it to the title
                var icon = document.getElementById('notification-icon');

                if (pendingCount !== undefined && pendingCount > 0 && has_permission) {
                    titleElement.textContent = `(${pendingCount}) ${currentTitle}`;
                    var fev_element = document.getElementById('med')
                    fev_element.setAttribute("href","https://mw-hr.sgp1.digitaloceanspaces.com/media/public_image/dfdfd.png") 
                   
                    var savedStatus = localStorage.getItem('notificationStatus');
                    if (savedStatus === 'enabled') {
                    var audio = new Audio("{% static 'audio/reception-notification.mp3' %}");
                    audio.play().then(() => {
                        console.log('Audio playing');
                    }).catch((error) => {
                        console.error('Playback failed:', error);
                    });
                } else {
                    console.log('Notification is disabled');
                }
                    
                 
        
                } else {
                    var fev_element = document.getElementById('med')
                    fev_element.setAttribute("href","https://mw-hr.sgp1.digitaloceanspaces.com/media/public_image/Logo_MW.png") 
                    // If no pending receptions, reset to the original title
                    titleElement.textContent = currentTitle;

                }

            })
            .catch(error => {
                console.error("Error fetching pending reception count:", error);
            });
        }

        // Call the function when the page loads
        fetchPendingReceptionCount();


        const commentPopups = document.querySelectorAll('.comment-popup');

        commentPopups.forEach(popup => {
            popup.addEventListener('mouseover', function (e) {
                const fullComment = e.target.getAttribute('data-full-comment');
    
                const tooltip = document.createElement('div');
                tooltip.className = 'comment-tooltip';
                tooltip.innerText = fullComment;
    
                document.body.appendChild(tooltip);
                const rect = e.target.getBoundingClientRect();
                tooltip.style.left = `${rect.left + window.scrollX}px`;
                tooltip.style.top = `${rect.bottom + window.scrollY}px`;
    
                // Remove tooltip on mouseout
                e.target.addEventListener('mouseout', function () {
                    tooltip.remove();
                }, { once: true });
            });
        });

        let link = Array.from(document.querySelectorAll('a')).find(a => a.textContent.trim() === "Weekly Project Hours");
        if (link) {
            link.addEventListener("click",function(event){
                event.preventDefault();
                get_url = link.getAttribute('href')
                get_url+='?hour_type=project'
                window.location.href = get_url
            })
           
        

        const ParentDiv = document.getElementById('content')
        const filterDiv = document.getElementById('changelist-filter')
        if (filterDiv) {
        // Step 2: Create the button element
        const button = document.createElement('button');
        button.className = 'sticky toggle-nav-sidebar';
        button.id = 'toggle-nav-sidebar';
        button.setAttribute('aria-label', 'Toggle navigation');

        // Step 3: Insert the button after the .changelist-filter div
        ParentDiv.insertAdjacentElement('beforeend', button);

        button.style.position = 'fixed';  // Fixed position for stable placement
        button.style.left = '1800px';       // Adjust left position as needed
        button.style.top = '63%';         // Center it vertically in the middle of the page
        button.style.transform = 'translateY(-50%)'; // Shift the button upwards by 50% of its own height to center it
        

        button.addEventListener('click',function(){
            if (filterDiv.style.display === 'none'){
                filterDiv.style.display = 'block'
            }
            else{
                filterDiv.style.display = 'none'
            }
            
        })
    }



        // Get the filter section
        var filterSection = document.querySelector('#changelist-filter');
        const key_obj = JSON.parse(localStorage.getItem("filter_id"))
        // localStorage.clear();
        let currentPath;
        if (filterSection) {
            // Get the current URL to match filters
            var currentUrl = window.location.href;
            currentPath = window.location.pathname

            const segments = currentPath.split('/'); // Split by '/'
            const path_last = segments[segments.length - 2]; // Get the second last segment

            
            // Get all h3 elements within the filter section
            var headings = filterSection.querySelectorAll('h3');

            let filter_id = {}
            if (key_obj != null){
                filter_id = key_obj
            }
            headings.forEach(function(h3) {
                // console.log("add filter", h3.innerText)
                
                // Skip the "Clear all filters" h3 by checking the ID
                if (h3.id === 'changelist-filter-clear') {
                    
                    return; // Skip this h3
                }

                // Create a wrapper div for h3 and button
                var wrapper = document.createElement('div');
                wrapper.className = 'filter-header';

                // Move the existing h3 content into the wrapper
                wrapper.appendChild(h3.firstChild);

                // Create a button for each h3
                var toggleButton = document.createElement('button');
                toggleButton.className = 'toggle-filter-button';
                toggleButton.setAttribute('aria-label', 'Toggle this list');
                toggleButton.textContent = '+'; // Initially set to '+'

                // Insert the button into the wrapper
                wrapper.appendChild(toggleButton);

                // Insert the wrapper into the DOM
                h3.appendChild(wrapper);

                // Get the next sibling ul element
                
                var ul = h3.nextElementSibling;
                let key = h3.innerText.replace(/[\n+]/g, '').replace(/\s+/g, '_');
                let key_name = key+"_"+path_last
                if (key_obj == null){
                    filter_id[key_name] = ul.id
                }else if (key_obj[key_name] == null){
                    filter_id[key_name] = ul.id
                }else if (key_obj[key_name] == ""){
                    filter_id[key_name] = ul.id
                }

                if (ul && ul.tagName.toLowerCase() === 'ul') {
                    // Initially hide all ul elements
                    if(key_obj != null){

                        if (key_obj[key_name] != null){
                            
                            ul.id = key_obj[key_name]
                        }
                    }
                    
                    ul.style.display = 'none';

                    // Function to toggle visibility of the ul
                    function toggleVisibility() {
                        if (ul.style.display === 'none') {
                            ul.style.display = 'block';
                            toggleButton.textContent = '-';
                        } else {
                            ul.style.display = 'none';
                            toggleButton.textContent = '+';
                        }
                    }

                    // Add click event to toggle visibility of the ul for both button and h3
                    toggleButton.addEventListener('click', toggleVisibility);
                    h3.addEventListener('click', toggleVisibility);

                    // Stop the h3 from toggling the ul when clicking inside the ul (e.g., on an li)
                    ul.addEventListener('click', function(event) {
                        // Prevent hiding the ul when clicking inside it (on a filter item)
                        event.stopPropagation();
                    });

                    // Check if the id of the ul is present in the URL and show it if it matches
                    // var ulId = ul.id.replace(/ /g, '_');  // Replace spaces with underscores to match URL format
                    // console.log("before filter", ul.id, key_obj[key_name])
                    // if (currentUrl.includes(ulId+'__exact') || currentUrl.includes(ulId+'__id__exact') || currentUrl.includes(ulId+'__id') || currentUrl.includes(ulId+'__gt') || currentUrl.includes(ulId+'__lt')) {
                    //     // console.log("filter form")
                    //     ul.style.display = 'block'; // Show the ul if the id matches
                    //     toggleButton.textContent = '-'; // Set button text to '-'
                    // }

                    if (currentUrl.includes(ul.id)) {
                        ul.style.display = 'block'; // Show the ul if the id matches
                        toggleButton.textContent = '-'; // Set button text to '-'
                    }
                }
            });
            // localStorage.clear();    
            if (localStorage.getItem("filter_id")==null) {
                
                localStorage.setItem("filter_id", JSON.stringify(filter_id))
            }
            
        }
    }
    });
</script>

{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}

{% block footer %}
<div id="footer">
    {% if request.user.is_authenticated %}
        {% include 'admin/partials/_announcement.html' %}
    {% endif %}
</div>
{% endblock %}
