{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo;
            {% for app in app_list %}
                {{ app.name }}
            {% endfor %}
        </div>
    {% endblock %}
{% endif %}

{% block extra_menu %}
    <div class="app-{{ app.app_label }} module{% if app.app_url in request.path %} current-app{% endif %}">
        <table width="100%">
            <caption>
                <a href="{{ app.app_url }}" class="section"
                   title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">Others</a>
            </caption>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee.summery' %}">Summary</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee.hours.graph' %}">Graph</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee.announce.sms' %}">SMS Announce</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee.notice_board' %}">Notice Board</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee_feedback' %}">My Feedback</a></th>
            </tr>

            <tr>
                <th scope="row"><a href="{% url 'admin:groupby_employee_changelist_view' %}">Daily Update GroupBy Employee</a></th>
            </tr>
          
            <tr>
                <th scope="row"><a href="{% url 'admin:groupby_project_changelist_view' %}">Daily Update GroupBy Project</a></th>
            </tr>
            


            <!-- Hidden from Main Index -->
            {% comment %} <tr>
                <th scope="row"><a href="{% url 'admin:employee_employeeactivity_changelist' %}">Employee Activities</a></th>
            </tr> {% endcomment %}
            <tr>
                <th scope="row"><a href="{% url 'admin:employee_employeeonline_changelist' %}">Employee Onlines</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee_employeeproject_changelist' %}">Employee Projects</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee_overtime_changelist' %}">Overtimes</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee_resignation_changelist' %}">Resignations</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee_skill_changelist' %}">Skills</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee_prayerinfo_changelist' %}">Prayer Infos</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee_tourallowance_changelist' %}">Tour Allowance</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee_excusenote_changelist' %}">Excuse notes</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:employee_config_changelist' %}">Configs</a></th>
            </tr>
        

        </table>
    </div>
{% endblock %}
