{% extends "admin/base_site.html" %}

{% block title %}
    Automate Post
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; <a href="{% url "admin:app_list" app_label="website" %}">website</a>
&rsaquo; Automate Post
</div>
{% endblock %}
{% endif %}


{% block content %}

{% load humanize %}
{% load static %}
<style>
    .card {
        /* border: 1px solid #ccc; */
        padding: 10px;
        max-width: 300px;
    }
    .form-inline{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .token-form{
        /* border: 1px solid #ccc; */
        padding: 10px;
    }
    .label{
        font-weight: bold;
        margin-right: 20px;
    }
    .btn{
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 6px;
    }
    .row{
        margin: 10px 0;
    }
    .post-count{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .form-group{
        max-width: 70%;
    }
    .alert{
        width: 100%;
        padding: 10px;
    }
    .alert-success{
        background-color: green;
    }
    .alert-error{
        background-color: red;
    }
    #message{
        margin-left: -40px;
    /* width: 98%; */
        margin-top: -20px;
        margin-bottom: 20px;
    }
    @media screen and (max-width: 768px) {
        #message{
            margin-left: -16px;
        }
    }
</style>

<div id="message"></div>
<h1>Automate Post</h1>

<div class="container">
    <h2>LinkedIn Post</h2>
    <div class="row">
        <div class="card">
            <p><strong>Total In Queue</strong>: {{in_queue}}</p>
            <p><strong>Total Posted</strong>: {{posted}}</p>
        </div>
        <div class="token-form">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <label for="inputPassword2" class="label">LinkedIn Token :</label>
                  <textarea style="field-sizing: content; max-width: 87%;" class="form-control" id="linkedin-token" placeholder="Token" rows="2" cols="100" >{{linkedin_token|striptags}}</textarea>
                </div>
                <button type="button" class="btn" id="submit-btn">Submit</button>
              </form>
        </div>

    </div>
    <div class="row">
        
    </div>
    
</div>

<script>
    window.onload = function () {
        console.log("onload")
        const submitBtn = document.getElementById('submit-btn')
        function addLinkedInToken(e){
            e.preventDefault()
            const token = document.getElementById('linkedin-token').value
            const base_url = window.location.origin
            const url = `${base_url}/api/website/post-credential/`
            const type= "POST"
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                if(xhttp.status==201){
                    
                    console.log(xhttp.status)
                    token.value = data.token
                    document.getElementById('message').innerHTML = `<div id="message-text" class="alert alert-success">Token Added successfully</div>`
                    removeMessage()
                }
                else{
                    document.getElementById('message').innerHTML = `<div id="message-text" class="alert alert-error">Something went wrong</div>`
                    removeMessage()
                }
            },
            xhttp.open(type, url);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            const data = JSON.stringify({
                "token": token,
                "platform": "linkedin",
                "name": "LinkedIn Access Token"
            })
            xhttp.onerror = function() {
                console.log("Something went wrong!");
                console.log(this.responseText);
                
            }
            xhttp.send(data);
        }

        submitBtn.addEventListener('click', addLinkedInToken)
        function removeMessage(){
            setTimeout(function() {
            // Get the element by its ID
            var element = document.getElementById("message-text");
            // Remove the element from the DOM
            if (element) {
                element.remove();
            }
        }, 3000);
        }
    }
</script>



{% endblock %}
