name: remote ssh command
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          cd /var/www/hr.mediusware.xyz
          git pull
          venv/bin/python -m pip install -r requirements.txt
          venv/bin/python /var/www/hr.mediusware.xyz/src/manage.py migrate
          venv/bin/python /var/www/hr.mediusware.xyz/src/manage.py collectstatic
          service apache2 reload
          service supervisor reload
